.footer
  .container
    .row
      .col-md-6
        \&copy;
        = succeed "," do
          %strong Mighty
        All Rights Reserved.
      .col-md-6.text-right
        %ul.list-inline
          %li
            %a{:href => "#learn"} How It Works
          %li
            %a{:href => "#"} Trainers
          %li
            %a{:href => "mailto: hi@mightyapp.co"} Contact Us
