.footer
  .container
    .row
      .col-md-6
        \&copy;
        = succeed "," do
          %strong Mighty
        All Rights Reserved.
      .col-md-6.text-right
        %ul.list-inline
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Search Trainers
          %li
            %a{:href => "#"} Become an Expert
          %li
            %a{:href => "#"} Contact Us

%script{type: "text/javascript", src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
= javascript_include_tag 'application', 'data-turbolinks-track' => true
