.footer
  .container
    .row
      .col-md-6
        \&copy;
        = succeed "," do
          %strong Mighty
        All Rights Reserved.
      .col-md-6.text-right
        %ul.list-inline
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Search Trainers
          %li
            %a{:href => "#"} Become an Expert
          %li
            %a{:href => "#"} Contact Us

= javascript_include_tag 'application', 'data-turbolinks-track' => true
