#header.clearfix
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#header-nav", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.trackEvent{href: "/", data: {name: "Clicked logo in header"}}
          = image_tag("logo-md.png", class: "logo hidden-xs")
          = image_tag("logo-small.png", class: "logo-small visible-xs")
      #header-nav.collapse.navbar-collapse
        %button.btn.btn-default.navbar-btn.navbar-right.hidden-xs.trackEvent{type: "button", data: {name: "Clicked Sign In button"}} Sign in
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.trackEvent{:href => "#learn", data: {name: "Clicked How It Works"}} How It Works
          %li
            %a.trackEvent{:href => "#learn", data: {name: "Clicked Trainers link"}} Trainers
          %li.hidden-sm.hidden-md.hidden-lg
            %a.trackEvent{:href => "#", data: {name: "Clicked Sign In link"}} Sign In
