.how-it-works#learn
  .container
    %h2.title
      %span How It Works
    .row.features
      .col-md-4.feature-item
        = image_tag("icon-personalized.png")
        %h3 Experienced Trainers
        %p We match you with a certified personal trainer who is both experienced and insured.
      .col-md-4.feature-item
        = image_tag("icon-affordable.png")
        %h3 Affordable Rates
        %p Gyms charge trainers <strong>50-75%</strong> of their rates. We take less and pass the savings to you.
      .col-md-4.feature-item
        = image_tag("icon-results.png")
        %h3 Personalized Plans
        %p Your fitness plan is customized by your expert trainer to match your long-term goals.
