.testimonials
  .container
    .row
      .col-md-7.quote
        %em &quot; I'm not sure how Mighty did it, but I was able to get a trainer for 2/3 of the price that my local gym charges.
        %strong - Ben Wang
      .col-md-5
        .panel.panel-primary
          .panel-body
            %p.lead Enter your email address below and we'll notify you as soon as we launch.
            %form#mc-form{:action => "//mightyapp.us9.list-manage.com/subscribe/post-json?u=25a48cb83e69e6c3264060fd0&amp;id=3ac7587d0e&amp;c=?", :role => "form"}
              .input-group
                %input.form-control{:name => "EMAIL", :placeholder => "Email address", :required => "", :type => "email", :value => ""}/
                %span.input-group-btn
                  %button#mc-subscribe.btn.btn-danger{:name => "subscribe", :type => "submit", :value => "Subscribe"} Request Invite
