.trainers
  .container
    %h2
      Some of our trainers located in
      %span New York, NY
    .row
      .col-md-3
        %a{:href => "#"}
          .panel
            .panel-heading
              %h3 Randy Moore
            .panel-body
              %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
            .panel-footer.clearfix
              .price.pull-left
                $30
                %span /hr
              %ul.list-inline.rating.pull-right
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-empty.png")}/
      .col-md-3
        %a{:href => "#"}
          .panel
            .panel-heading
              %h3 Randy Moore
            .panel-body
              %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
            .panel-footer.clearfix
              .price.pull-left
                $30
                %span /hr
              %ul.list-inline.rating.pull-right
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-empty.png")}/
      .col-md-3
        %a{:href => "#"}
          .panel
            .panel-heading
              %h3 Randy Moore
            .panel-body
              %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
            .panel-footer.clearfix
              .price.pull-left
                $30
                %span /hr
              %ul.list-inline.rating.pull-right
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-empty.png")}/
      .col-md-3
        %a{:href => "#"}
          .panel
            .panel-heading
              %h3 Randy Moore
            .panel-body
              %p I've been training clients for the last six years, focusing on strength-training, HIIT and calesthenics.
            .panel-footer.clearfix
              .price.pull-left
                $30
                %span /hr
              %ul.list-inline.rating.pull-right
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-full.png")}/
                %li
                  %img{:src => asset_url("icon-star-empty.png")}/
