.leadgen
  .container
    .splash-cont
      .promo
        %h1 Priceline for Personal Trainers
        %p.lead
          Name your goals. Name your own price.
      = render partial: "home/slider"

= render partial: "home/how_it_works"
= render partial: "home/testimonials"
