.leadgen
  .container
    .splash-cont
      .promo
        %h1
          Certified Trainers,
          %br.phone-spacer
          Affordable Rates
        %p.lead
          Find an expert personal trainer
          %br.phone-spacer
          that will help you reach your goals.
      = render partial: "home/slider"

= render partial: "home/how_it_works"
= render partial: "home/testimonials"
