.leadgen
  .container
    .splash-cont
      .promo
        %h1
          Sports Lessons
          %br.phone-spacer
          In Small Groups
        %p.lead
          Learn from experienced athletes
          %br.phone-spacer
          with fun and motivated peers.
      = render partial: "shared/slider_sports"

= render partial: "shared/how_it_works"
= render partial: "shared/testimonials"
