<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <table cellpadding="0" cellspacing="0" height="100%" width="100%" style="border:none">
        <tbody>
          <tr>
            <td align="center" valign="top" width="100%">
              <table width="465" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="left" valign="bottom" style="font-family:'Trebuchet MS','Helvetica Neue',Helvetica,Arial,sans-serif;padding:30px 0 0;font-stretch:normal;font-size:28px;line-height:45px;text-align:center;">Mighty</td>
                    <td align="right" valign="bottom" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding:30px 0px 18px;color:rgb(102,102,102);font-stretch:normal;font-size:14px;line-height:19px"><br></td>
                  </tr>
                </tbody>
              </table>
              <table width="465" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="center" valign="top" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(102,102,102);font-stretch:normal;font-size:14px;line-height:19px">
                      <table cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="left" height="10"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin:0px;line-height:1.5em;border:1px solid rgb(204,204,204);background:rgb(255,255,255)">
                        <tbody>
                          <tr>
                            <td align="left" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding:20px;font-stretch:normal;font-size:14px;line-height:19px">Hello guys,&nbsp;<br><br>
                            You have a new lead:<br /><br />
                            <strong>Name:</strong> <%= @lead[:name] %> <br />
                            <strong>Email:</strong> <%= @lead[:email] %> <br />
                            <strong>Phone:</strong> <%= @lead[:phone] %> <br />
                            <br><br>– The Mighty Team</td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" width="100%" style="margin:0px;padding:0px">
                <tbody>
                  <tr>
                    <td align="center" style="padding:20px 0px;background:rgb(255,255,255)">
                      <table width="465" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td align="center" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding:0px 0px 15px;color:rgb(102,102,102);font-stretch:normal;font-size:14px;line-height:19px;width:464px">Mighty is always here to help</td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="465" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td valign="top" align="left" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:155px;color:black;text-decoration:underline;font-stretch:normal;font-size:12px;line-height:17px"><br></td>
                            <td valign="top" align="left" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:155px;color:black;text-decoration:underline;text-align:center;font-stretch:normal;font-size:12px;line-height:17px"><a href="mailto:hi@mightyapp.co" style="color:rgb(102,102,102);text-align:left;font-stretch:normal" target="_blank">Email support</a><br></td>
                            <td valign="top" align="left" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;width:155px;color:black;text-decoration:underline;text-align:right;font-stretch:normal;font-size:12px;line-height:17px"><br></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding:15px 0px;border-top-style:solid;border-top-width:1px;border-top-color:rgb(228,228,228);background:rgb(255,255,255)"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
