/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ./vendor
 *= require_self
 */

@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #054ba6;
$darker-color: #063e86;
$brighter-color: #337dd0;

body {
  background: $primary-color image-url("bg-blue.png");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
p {
  &.big {
    font-size: 16px;
  }
}

.centerd-list {
  width: 100%;
  text-align: center;
  li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
  }
}

.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

#header {
  position: relative;
  overflow: hidden;
  background: rgba(9,47,97,0.3);
  .navbar {
    padding: 5px 0 0;  margin: 0;
    background: none;  border-width: 0;
    #bgvid {
      display: block;
      position: absolute;
      top: 0;  left: 0;  right: 0;  bottom: 0;
      width: 100%;
      z-index: 1;
    }
    .navbar-header, .navbar-collapse {
      position: relative;
    }
    .navbar-header {
      z-index: 3;
      .navbar-brand {
        height: auto;
        padding-bottom: 0 !important;
        .logo, .logo-small {
          position: relative;
        }
        .logo {
          top: -5px;
          height: 46px;
        }
        .logo-small {
          top: -5px;
          height: 31px;
        }
      }
      .navbar-toggle {
        border-color: $darker-color;
        &:hover, &:focus, &:active {
          background-color: $darker-color;
        }
        .icon-bar {
          background: #fff;
        }
      }
    }
    .navbar-collapse {
      z-index: 2;
      text-transform: uppercase;
      font-size: 13px;
      &.in, &.collapsing {
        background: #fff;
        border: none;
        li a { color: $darker-color; }
        li a:hover {
          background: #eee;
        }
      }
      a, .btn-default {
        color: #fff;
        font-weight: bold;
      }
      .btn-default {
        margin-left: 20px;
        background: none;
        border-width: 2px;
        border-color: #5692bc;
        text-transform: uppercase;
        font-size: 13px;
        &:hover {
          border-color: #fff;
        }
      }
    }
  }
}

.leadgen {
  padding: 40px 0;
  .container {
    .splash-cont {
      position: relative;
      max-width: 600px;
      margin: 0 auto;
      z-index: 2;
      &:before, &:after {
        @include opacity(0.7);
        position: absolute;  top: 150px;
        display: block;
        content: ' ';
        width: 256px;  height: 218px;        
      }
      &:before {
        left: -200px;
        background: image-url("bg-bicep-left.png") no-repeat;
      }
      &:after {
        right: -200px;
        background: image-url("bg-bicep-right.png") no-repeat;
      }
    }
    > .row {
      padding-left: 60px;  padding-right: 60px;
    }
    .promo {
      color: #fff;
      text-align: center;
      .big-spacer {
        min-height: 40px;
        width: 100%;
      }
      h1 {
        margin: 0;
      }
      h2.primary {
        @include border-radius(3px);
        @include background-image(linear-gradient(to right, #216cbf, $primary-color));
        padding: 3px 8px;  margin: 0 -8px 15px;
        font-weight: bold;
      }
      p {
        margin-bottom: 20px;
        font-size: 24px;
        span {
          border-bottom: 1px dotted #fff;
          font-weight: bold;
        }
      }
    }
    .slide-fx {
      position: absolute;
      z-index: 2;
      top: 0;  left: 0;  right: 0;  bottom: 0;
      margin: 0 15px;
      border: 2px solid #7faeec;
      background: transparent;
    }
    .slide-wrap {
      position: relative;
      overflow: hidden;
      width: 100%;
      z-index: 3;
      .slide-strip {
        position: relative;
      }
      .slide {
        display: none;
        position: relative;
        float: left;
        &.objective {
          display: block;
        }
        &.finish {
          .panel.lead-form {
            .panel-body {
              padding-top: 50px;  padding-bottom: 30px;
            }
          }
        }
        .panel.lead-form {
          @include background-image(linear-gradient(#ffffff, #eaeaea));
          position: relative;
          text-align: center;
          margin: 0;
          color: #525252;
          z-index: 5;
          .panel-heading {
            @include background-image(linear-gradient(#f7f7f7, #f5f5f5));
            position: relative;
            padding: 18px 10px;
            border-bottom: 1px solid #ccc;
            h4 {
              margin: 0 0 2px;
              font-weight: bold;
              span {
                color: #bf3f3f;
                border-bottom: 1px dotted #bf3f3f;
              }
            }
            p { margin: 0; font-size: 15px; }
            .prev-slide {
              position: absolute;
              top: 23px;  left: -1px;
            }
          }
          .panel-body {
            h2 {
              margin: 0;
              font-size: 24px;
            }
            form {
              text-align: left;
              .form-group {
                &.has-feedback {
                  .form-control-feedback {
                    display: block;
                  }
                }
                .form-control-feedback {
                  display: none;
                }
              }
              .btn-submit {
                width: 100%;
                font-size: 15px;
                font-weight: bold;  text-align: center;  text-transform: uppercase;
              }
              .activities {
                .label {
                  @include border-radius(20px);
                  background: #bbb;  color: #fff;
                  text-transform: uppercase;
                  &.active {
                    background: #d46605;  color: #fff;
                  }
                }
              }
              .date-input {
                position: relative;
                .glyphicon-calendar {
                  @include opacity(0.5);
                  position: absolute;
                  top: 10px;  right: 10px;
                }
              }
              #price-slider {
                width: 100%;
                .slider-track {
                  background: #ccc;
                  .slider-selection {
                    background: #b7d6f9;
                  }
                }
              }
            }
            ul {
              li {
                float: left;
                width: 50%;
                a.panel {
                  display: block;
                  margin: 10px 0 0;
                  background: #ccc;  border: 2px solid #c9c9c9;
                  color: #525252;  text-decoration: none;
                  h4 {
                    margin: 5px 0 0;  padding: 0;
                    font-weight: bold;  font-size: 15px;
                  }
                  &:hover {
                    background: #ddd;
                  }
                  &:active, &:focus, &.active {
                    background: #fff;  border-color: #aaa;
                  }
                  img {
                    height: 64px;  width: 64px;
                  }
                }
              }
              li:nth-child(odd) {
                .panel { margin-right: 5px; }
              }
              li:nth-child(even) {
                .panel { margin-left: 5px; }
              }
            }
          }
        }
      }
    }
  }
}

.how-it-works {
  position: relative;
  padding: 60px 0 0;
  background: #fff;
  .title {
    margin: 0 auto 60px;
    text-align: center;
    span {
      border-bottom: 1px dashed #ccc;
    }
  }
  .features {
    text-align: center;
    .feature-item {
      margin-bottom: 60px;
      .icon {
        display: block;
        width: 164px;  height: 164px;
      }
      p {
        font-size: 16px;  line-height: 22px;
      }
    }
  }
}

.trainers {
  padding: 60px 0;
  background: #444;
  color: #fff;
  > .container > h2 {
    text-align: center;
    margin: 10px 0 40px;
    span {
      color: #ff9d9d;
      border-bottom: 1px dotted #ff9d9d;
    }
  }
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
  .panel {
    @include transition(all 100ms linear);
    @include box-shadow(rgba(0,0,0,0.1) 0 0 5px, rgba(0,0,0,0.2) 0 2px 3px);
    border: none;
    color: #444;
    cursor: pointer;
    &:hover {
      @include box-shadow(rgba(0,0,0,0.25) 0 0 7px, rgba(0,0,0,0.2) 0 2px 5px);
    }
    .panel-heading {
      position: relative;
      overflow: hidden;
      min-height: 130px;
      background: image-url("trainer-sample1.jpg") no-repeat top center;
      background-size: cover;
      border: none;
      h3 {
        position: absolute;
        bottom: 0;  left: 0;  right: 0;
        margin: 0;  padding: 10px;
        min-height: 40px;
        color: #fff;
        z-index: 3;
        background: image-url("bg-text_scrim.png") repeat-x top;
      }
    }
    .panel-body {
      p {
        margin-bottom: 0;
      }
    }
    .panel-footer {
      .price {
        font-size: 24px;
        span {
          font-size: 18px;
        }
      }
      .rating {
        padding: 0;  margin: 5px 0 0;
        li {
          margin: 0;  padding: 0;
        }
      }
    }
  }
}

.testimonials {
  @include background-image(linear-gradient(#444, #666));
  padding: 40px 0;
  .panel-primary {
    border-color: #888;
  }
  .quote {
    text-align: center;
    color: #fff;
    em {
      display: block;
      margin-bottom: 15px;
      font-size: 26px;
    }
    strong {
      display: block;
      color: #ddd;
      font-size: 20px;  font-weight: normal;
      margin-bottom: 20px;
    }
  }
}

.footer {
  padding: 20px 0;
  background: #444;
  color: #ccc;
  strong {
    color: #fff;
  }
  ul {
    margin-bottom: 0;
    li {
      margin-left: 20px;
    }
  }
  a {
    color: #fff;
    font-weight: bold;
  }
}

.simple-page {
  padding: 40px 0 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .leadgen .container .row {
    padding-left: 0;  padding-right: 0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .leadgen .container .row {
    padding-left: 0;  padding-right: 0;
  }
  .feature-icon img {
    width: 100%;
  }
  .leadgen .container .promo {
    h1 { font-size: 25px; }
    p {
      font-size: 20px;
    }
  }
}
